/****************
BODY STYLES
****************/

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*****************
HEADER STYLES
*****************/

.navbar-dark {
  background-color: #4b2382;
}

.navbar-brand {
  font-family: 'Oregano', cursive;
  font-size: 1.75rem;
}

.fa-shopping-cart {
  font-size: 1.5em;
}

#cart-count {
  display: none;
  position: relative;
  top: 8px;
  right: 8px;
  background-color: #147521;
  color: #fff;
  padding: 1px 8px;
  border-radius: 50%;
}

/******************
JUMBOTRON STYLES
******************/
.jumbotron {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #147521;
  height: 400px;
  text-align: center;
  color: #fff;
  border-radius: 0;
}

h1 {
  font-family: 'Oregano', cursive;
  font-size: 3.5rem;
}

/**********************
GALLERY STYLES
**********************/

/**********************
FOOTER STYLES
**********************/
footer {
  background-color: #4b2382;
  color: #fff;
  text-align: center;
  padding: 1% 0;
}

/************************
MODAL STYLES
************************/

.basilModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
  width: 75%;
  margin: 15% auto;
  padding: 2% 2% 3% 2%;
  background-color: #fff;
}

.close {
  background-color: #147521;
  color: #fff;
  border-radius: 50%;
  opacity: .5;
  padding: 1% 2%;
}

.close:focus,
.close:hover {
  color: #fff;
}

.modalContent h2 {
  font-size: 1.65rem;
}

.modalContent h3 {
  font-size: 1.25rem;
  color: #147521;
}

.btn-primary {
  background-color: #147521;
}

.btn-primary:hover {
  color: #fff;
  background-color: #147521;
  border-color: rgba(20,117,33,0.5);
}
